{% extends 'base.html' %}

{% block content %}
<div class="edit-form">
     <div class="inner">
        <h1>Import</h1>
        <form class="pure-form pure-form-aligned" enctype="multipart/form-data" action="{{url_for('import_page')}}" method="POST">
            <fieldset class="pure-group">

              <label for="importfile">Select restaurant-watch.json file to import:</label>

              <input type="file"
                     id="importfile" name="importfile"
                     accept=".json" required>
            </fieldset>
            <fieldset class="pure-group">

                <div class="import_input">
                    <input type="radio" id="watch_only" name="setting" value="watch_only" checked>
                    <label for="watch_only">Only import watches (leave global settings)</label>
                </div>

                <div class="import_input">
                    <input type="radio" id="all_settings" name="setting" value="all_settings">
                    <label for="all_settings">Import watches and global settings</label>
                </div>

              </fieldset>
            <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Import</button>
        </form>
     </div>
</div>

{% endblock %}
